* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container-menu {
  padding: 0 10%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

nav ul > li {
  list-style: none;
  display: inline-block;
  line-height: 8vh;
  margin-right: 25px;
  color: #32495b;
}

nav ul li:last-child {
  margin-right: 0;
}

.btn {
  border-radius: 5px;
  text-align: center;
}

.b-wh {
  background: #fff;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

.b-or {
  background: #ff7a59;
  color: #fff;
}

.b-sm {
  padding: 12px 18px;
}

.b-big {
  padding: 20px 30px;
  margin: 25px 0;
  display: inline-block;
}

#lang-menu li a,
#navigation li a {
  color: #32495b;
}

#access-menus {
  height: 8vh;
  background: #f4f9fd;
  border-bottom: 1px solid #32495b;
}

#lang-menu,
#logo {
  float: left;
}

#logo img {
  margin-top: 23px;
}

#login-menu,
#navigation {
  float: right;
}

#nav-menus {
  height: 8vh;
  background: #fff;
}

.hero-banner {
  height: 84vh;
  background: #fff2ee;
  background-image: url('../img/jumbotron.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.main-title {
  position: absolute;
  top: 10vh;
  max-width: 30%;
  color: #32495b;
}

.main-title h1 {
  font-size: 48px;
}

.main-title h1 {
  margin-bottom: 25px;
}

.main-title p {
  line-height: 1.75;
}

.main-title .smaller-text {
  font-size: 12px;
}

.main-area {
  height: 160vh;
  background: #f4f9fd;
  padding: 10vh 0;
  color: #32495b;
}

.block {
  margin: 10vh 0;
}

.block h2 {
  font-size: 36px;
}

.block h3 {
  font-size: 30px;
}

.block h4 {
  font-size: 20px;
  margin: 20px 20px 20px 0;
  text-transform: uppercase;
}

.block h2 {
  margin: 20px 0 25px;

}

.block h3 {
  margin-bottom: 25px;
}

.block p {
  line-height: 1.75;
}

.main-block {
  text-align: center;
  max-width: 60%;
  margin: 0 auto;
}

.main-white-block {
  background: #fff;
  border-radius: 5px;
  padding: 12vh 10%;
}

.m-wblk-learn {
  float: left;
  text-align: center;
  margin-right: 8%;
}

.wblk-icon {
  width: 180px;
}

.wblk-icon img {
  width: 100%;
}

.m-wblk-crm {
  float: left;
  width: calc(100% - 180px - 8%);
}

.wblk-sm-title h4,
.wblk-sm-title hr {
  display: inline-block;
}

.wblk-sm-title h4 {
  float: left;
}

.wblk-sm-title hr {
  width: calc(100% - 250px);
  margin-top: 32px;
  float: right;
}

ul.m-wblk-kp li {
  list-style: none;
  display: inline;
  margin-right: 40px;
}

ul.m-wblk-kp li::before {
  content: '\2714';
  color: #fff;
  background: #ff7a59;
  height: 15px;
  width: 20px;
  padding: 3px 5px;
  border-radius: 50%;
  margin-right: 12px;
  font-weight: bold;
  font-size: 12px;
}

.awards {
  height: 90vh;
  background: rgb(0,164,189);
  background: linear-gradient(45deg, rgba(0,164,189,1) 0%, rgba(0,177,177,1) 60%, rgba(0,189,165,1) 100%);
}

.companies {
  height: 90vh;
  background: pink;
}

footer {
  height: 70vh;
  background: #32495b;
}
