* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.container-menu {
  padding: 0 10%;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}

nav ul > li {
  list-style: none;
  display: inline-block;
  line-height: 8vh;
  margin-right: 25px;
  color: #32495b;
}

nav ul li:last-child {
  margin-right: 0;
}

.btn {
  border-radius: 5px;
  text-align: center;
}

.b-wh {
  background: #fff;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

.b-or {
  background: #ff7a59;
  color: #fff;
}

.b-sm {
  padding: 12px 18px;
}

.b-big {
  padding: 20px 30px;
}

#lang-menu li a,
#navigation li a {
  color: #32495b;
}

#access-menus {
  height: 8vh;
  background: #f4f9fd;
  border-bottom: 1px solid #32495b;
}

#lang-menu,
#logo {
  float: left;
}

#logo img {
  margin-top: 23px;
}

#login-menu,
#navigation {
  float: right;
}

#nav-menus {
  height: 8vh;
  background: #fff;
}

.hero-banner {
  height: 84vh;
  background: #fff2ee;
  background-image: url('../img/jumbotron.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}

.main-title {
  position: absolute;
  top: 10vh;
  max-width: 30%;
  color: #32495b;
}

.main-title h1 {
  font-size: 48px;
  margin-bottom: 25px;
}

.main-title p {
  line-height: 1.75;
  margin-bottom: 25px;
}

.main-title .smaller-text {
  font-size: 12px;
}

.main-title .btn {
  display: inline-block;
  margin-bottom: 25px;
}

.main-area {
  height: 160vh;
  background: #f4f9fd;
}

.awards {
  height: 90vh;
  background: rgb(0,164,189);
  background: linear-gradient(45deg, rgba(0,164,189,1) 0%, rgba(0,177,177,1) 60%, rgba(0,189,165,1) 100%);
}

.companies {
  height: 90vh;
  background: pink;
}

footer {
  height: 70vh;
  background: #32495b;
}
